body{
    margin: 0px;
}

header{
    height: 500px;
    background-image: url(immagini/sfondo1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media (max-width: 500px) {
    header {
        height: 250px;
    }
}

#overlay{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
}

header h1{
    color: white;
    font-family: 'Bebas Neue', 'Helvetica';
    font-size: 40px;
    margin-bottom: 0px;
    z-index: 1;
}

header h3{
    color: white;
    font-family: 'Abel', 'Helvetica';
    z-index: 1;
    margin-top: 0px;
}

@media (max-width: 500px) {
    header h1 {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    header h3 {
        font-size: 15px;
    }
}

header nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    padding: 15px;
}

a{
    border: 2px solid white;
    border-radius: 20px;
    padding: 3px;
    text-decoration: none;
    color: white;
    font-family: 'Abel', 'Helvetica';
}

#button a {
    margin: 10px;
}

a:hover{
    color: skyblue;
}

#menu {
    display: none;
}
  
#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media (max-width: 500px) {
    #button {
      display: none;
    }
  
    #menu {
      display: block;
    }
}

.foto{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    position: relative;
    top: -50px;
    right: -46%;
    border: 5px solid white;
}

@media (max-width: 500px) {
    .foto{
        position: relative;
        right: -36%;
    }
}

.nome{
    text-align: center;
    font-family: 'Oswald';
    margin-top: -60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.nome h5{
    margin-top: 3px;
    font-family: 'Oswald';
    margin-bottom: 0px;
}

#flex-c{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

#flex-all{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

@media (max-width: 500px) {
    #flex-all{
        justify-content: flex-start;
        margin-bottom: 100px;
    }
}

#flex-num{
    width: 40px;
    margin-right: 40px;
}

#flex-block{
    width: 66.67%;
}

#flex-num h1{
    text-align: right;
    margin-top: 0px;
    font-size: 35px;
    font-family: 'Bebas Neue';
    color: cadetblue;
}

#flex-block h1{
    text-align: left;
    margin: 0px;
    font-size: 35px;
    font-family: 'Roboto';
}

#flex-block h4{
    text-align: left;
    font-family: 'Oswald';
    color: rgb(129, 27, 27);
    margin-top: 0px;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    #flex-block h4{
      margin-bottom: 0;
    }
}

#flex-block p{
    text-align: justify;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

@media (max-width: 500px) {
    #flex-block p{
      font-size: 0.8em;
      margin-bottom: 0.5em;
    }
}

#flex-block .agg{
    font-family: 'Abel';
    font-size: 20px;
    font-style: oblique;
}

#flex-block img{
    max-width: 100%;
    border-radius: 20px;
}

#info{
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.border{
    border: 2px dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-color: white;
    border-top-color: white;
}

#info h2{
    color: rgb(206, 198, 198);
    font-family: 'Abel', 'Helvetica';
    margin-bottom: 2px;
}

#info h3{
    color: rgb(206, 198, 198);
    font-family: 'Abel', 'Helvetica';
    margin-top: 0px;
}

@media (max-width: 500px) {
    .border{
        font-size: 0.8em;
    }
}








